[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
langchain = "*"
langchain-community = "*"
openai = "*"
langchain-openai = "*"
langchain-pinecone = "*"
grpcio = "*"
grpcio-tools = "*"
reactivex = "*"
grpcio-reflection = "*"
chromadb = "*"
langchain-chroma = "*"
langchain-huggingface = "*"
python-dotenv = "*"
langchain-nvidia-ai-endpoints = "*"
weaviate-client = "*"
langchain-weaviate = "*"
langchain-qdrant = "*"
qdrant-client = "*"
transformers = "*"
accelerate = "*"
bitsandbytes = "*"

[dev-packages]

[requires]
python_version = "3.10"
